 header {
            background-color: #07145E;
            color: #FFEE00;
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            padding: 16px;
        }

        main {

            background-color: #ff2600;
            color: #020308;
            text-align: left;
            max-width: 800px;
            margin: 0 auto;
            padding: 16px;
        }

        img {
            width: 100px;
            height: 100px;
        }

        div {
            text-align: center;
            max-width: 800px;
            margin: 0 auto;
            padding: 16px;
        }

       